name: Build and Push Staging Images

on:
  workflow_dispatch:
  push:
    branches:
      - dev
    paths:
      - 'apps/api/**'
      - 'apps/web/**'
      - 'docker-compose.staging.yml'

jobs:
  build-api:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push API
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./apps/api/Dockerfile
          platforms: linux/amd64
          push: true
          tags: lucasborgessb/portal_dos_eletricistas:api-staging
          cache-from: type=registry,ref=lucasborgessb/portal_dos_eletricistas:api-staging
          cache-to: type=inline

  build-web:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push Web
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./apps/web/Dockerfile
          platforms: linux/amd64
          push: true
          tags: lucasborgessb/portal_dos_eletricistas:web-staging
          build-args: |
            NEXT_PUBLIC_API_URL=https://beta-api.portaleletricos.com.br
          cache-from: type=registry,ref=lucasborgessb/portal_dos_eletricistas:web-staging
          cache-to: type=inline
